{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">a</span><span class="base09">d</span><span class="base0a">i</span><span class="base0b">p</span><span class="base0c">i</span><span class="base0d">r</span><span class="base0e">r</span><span class="base0f">o</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  A blog about....something
</div>
